.grid-container{
  height: auto;
}
#image{
  height: auto;
}
#right{
  background-color: bisque;
}
.mat-card{
  width: 75%;
  height: 75%;
  margin: 50px;

}
.mat-card-header{
  background-color: chocolate;
  height: 10%;
  width: 100%;
}
.mat-card-title {
  padding-top: 25px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium";
}
.grid-container{
  background-color: blue;
}


