<div class="grid-container">
  <div gdAreas=" left right" gdColumns="50% 50%" id="global">

    <div gdArea="left" id="left" >

        <img src="assets/office.jpg" id="image">

    </div>

    <div gdArea="right" id = "right" >
      <mat-card class="home__card">
        <mat-card-header >
          <mat-card-title >Iniciar Sesión</mat-card-title>
        </mat-card-header>
               <mat-card-content *ngIf="dialogoAbierto == false">
                <form [formGroup]="form" (ngSubmit)="submit()">
                   <mat-form-field class ="nombre">
                     <mat-label>Nombre</mat-label>
                     <input matInput #nombre placeholder="Nombre del usuario"
                            [formControl]="form.controls.nombre"  required>
                     <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                   </mat-form-field>

                   <mat-form-field class ="contraseña">
                     <mat-label>Contraseña</mat-label>
                     <input matInput #password [type]="hide ? 'password' : 'text'" required>
                     <button mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                       <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>
                   </mat-form-field>

                 <div class="grid-container" id="botones">
                   <div gdAreas=" log registrarse" gdColumns="50% 50%" >

                     <div gdArea="log" id="log in">

                       <div class="button">
                         <button type="submit"
                                 matTooltip="Iniciar Sesión"
                                 mat-stroked-button (click)="login($event,nombre.value, password.value )">Acceder</button>
                       </div>
                     </div>
                     <div gdArea="registrarse" id = "registro" >
                       <button mat-stroked-button  matTooltip="Crear Cuenta" (click)="goToRegistro()"> Registrarse</button>
                     </div>
                   </div>
                 </div>
                </form>
               </mat-card-content>

        </mat-card>
    </div>
  </div>
</div>

