<app-navbar></app-navbar>

<ng-container *ngIf="loginService.isLogged">

<mat-card class="as-global">
  <div class="as-global__img">
    <img src="{{loginService.user.img}}"  class="as-global__img-user">
    <button mat-icon-button class="as-global__edit"  matTooltip="Editar perfil" (click)="navigateEdit()">
      <mat-icon>mode_edit</mat-icon>
    </button>
  </div>

  <div class="as-wrapper">
    <div class="as-wrapper__info">{{loginService.user.nombre}}</div>
    <div class="as-wrapper__info">{{loginService.user.rol}}</div>
  </div>

  <div class="as-wrapper__equipos">
    <h2 class="as-wrapper__titulo">Mis equipos</h2>
    <ul class="equipos__wrapper" (click)="goToEquipos()">
      <li class="equipos__wrapper-item" *ngFor="let equipo of equipos">
        <img class="equipos__item-img" src="{{ equipo.logoImg }}">
      </li>
    </ul>
  </div>
  </mat-card>
</ng-container>
<app-footer></app-footer>
