.as-global{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 6.8%;
  left: 25%;
  width: 50%;
  height: 83.5%;
  background-color: #75A478;
}
.as-global__img {
  display: flex;
  justify-content: center;
}
.as-global__edit{
  background-color: #F0F8FFFF;
  position: relative;
  left: 10%;
  top: 85%;
}
.as-wrapper{
  display: flex;
  flex-direction: column;
}
.as-wrapper__info{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.as-wrapper__equipos{
  display: flex;
  flex-direction: column;
  height: 45%;
  margin-top: 3rem;

}
/*
.grid-container{
  height: 100%;
  width: 100%;
}
#icon{
  display: flex;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
#nombreRol{
  padding-top: 1%;
  text-align: center;
  font-size: 25px;
  line-height: 1.2;
}
*/
