<app-navbar></app-navbar>
<div class="workshop__container" *ngIf="taller">
  <h1 class="workshop__title">
    {{ taller.nombreTaller }}
  </h1>
  <div class="workshop__wrapper">
    <div class="workshop__left-side">
      <div class="workshop__documents">
        <h2 class="workshop__documents-title">Documentos</h2>
        <!--<ul class="workshop__documents-list">
          <li class="workshop__wrapper-item" *ngFor="let enlace of taller.documentos">
            <a>{{enlace}}</a>
          </li>
        </ul>-->
      </div>
      <button mat-raised-button class="workshop__wrapper-button"  onclick=" window.open('https://meet.google.com/?hs=197&pli=1&authuser=0','_blank')">Videoconferencia</button>
    </div>
    <img class="workshop__img" src="{{ taller.img }}">
    <div class="workshop__description">
      <h2 class="workshop__description-title">Descripción</h2>
      <p class="workshop__description-text">{{ taller.descripcion }}</p>
    </div>
  </div>
  <!--<ul class="workshop__list">
    <li class="workshop__list-item" *ngFor="let elem of filterTalleres">
      <img class="workshop__item-img" src="{{ elem.img }}">
      <p class="workshop__item-title">{{ elem.nombreTaller }}</p>
    </li>
  </ul>-->
</div>
<app-footer></app-footer>
