<app-navbar></app-navbar>
<div class="workshop__container" *ngIf="taller">
  <h1 class="workshop__title">
    {{ taller.nombreTaller }}
  </h1>
  <div class="workshop__wrapper">
    <div class="workshop__left-side">
      <!--<div class="workshop__documents">
        <h2 class="workshop__documents-title">Documentos</h2>
      </div>-->
      <button mat-raised-button class="workshop__wrapper-button"  (click)="openNewTab()">Sala de reunión</button>
    </div>
    <img class="workshop__img" src="{{ taller.img }}">
    <div class="workshop__description">
      <h2 class="workshop__description-title">Descripción</h2>
      <p class="workshop__description-text">{{ taller.descripcion }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
