.team__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 81.2%;
}

.team__header {
  align-items: center;
  display: flex;
  margin-top: 2rem;
}

.team__img {
  max-height: 4rem;
}
.team__title {
  align-items: center;
  display: flex;
  font-size: 3rem;
  margin: 0;
  max-height: 2rem;
  padding-left: 1rem;
}

.team__wrapper {
  display: grid;
  flex: 1;
  height: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 50%;
}

.teams__members-list {
  align-items: center;
  background-color: #5EDE92;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  max-height: 22rem;
  padding: 0 3rem;
  width: 100%
}
.teams__members-list-item {
  align-items: center;
  background-color: #295218;
  color: #F2F2F4;
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  min-width: 16rem;
  padding-top: 1rem;
}
.teams__member-img {
  max-height: 12rem;
  max-width: 17rem;
}
.teams__member-name {
  margin-top: 1rem;
  font-family: 'Raleway';
  font-size: 1.5rem;
}

.teams__member-info {
  font-family: 'Raleway';
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
