<h1 mat-dialog-title>REGISTRARSE</h1>
<div mat-dialog-content id="contenedor">
  <div class="grid-container">
    <div gdAreas="info roles | cerrar aceptar" gdColumns="50% 50%"
    gdRows="50% 25%" id="divide" >
      <div gdArea="info" >
        <mat-form-field class ="email">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput placeholder="correo@ejemplo.com"
                 [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <div id="contraseña"></div>
          <mat-form-field class ="contraseña">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

        <div id="equipo"></div>
          <mat-form-field class ="equipo">
            <mat-label>Equipo</mat-label>
            <input matInput placeholder="equipo" required>
          </mat-form-field>
      </div>
        <div gdArea="roles">
          <mat-radio-group aria-label="Select an option">
            <h3>Seleccionar un rol de equipo</h3>
            <mat-radio-button value="1">Desarrollador</mat-radio-button>
            <p></p>
            <mat-radio-button value="2">Scrum Master</mat-radio-button>
            <p></p>
            <mat-radio-button value="2">Product Owner</mat-radio-button>
          </mat-radio-group>
        </div>
        <div gdArea="cerrar" id="cerrar">
          <div mat-dialog-actions>
            <button mat-raised-button [mat-dialog-close]="data.nombre">No Thanks</button>
          </div>
        </div>
        <div gdArea="aceptar" id="aceptar">
          <div mat-dialog-actions>
            <button mat-raised-button [mat-dialog-close]="data.nombre" >Ok</button>
          </div>
        </div>

    </div>
  </div>
</div>
  <!-- <mat-form-field class ="email">
     <mat-label>Correo electrónico</mat-label>
     <input type="email" matInput placeholder="correo@ejemplo.com"
            [formControl]="email" required>
     <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
   </mat-form-field>

   <div>
     <mat-form-field class ="contraseña">
       <mat-label>Contraseña</mat-label>
       <input matInput [type]="hide ? 'password' : 'text'">
       <button mat-icon-button matSuffix (click)="hide = !hide"
               [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       </button>
     </mat-form-field>
   </div>
 </div>
 <div class="grid-container">
   <div gdAreas=" cerrar aceptar" gdColumns="50% 50%" id="global">

     <div gdArea="cerrar" id="cerrar" >
       <div mat-dialog-actions>
         <button mat-button [mat-dialog-close]="data.email">No Thanks</button>

       </div>
     </div>

     <div gdArea="aceptar" id = "aceptar" >
       <div mat-dialog-actions>
         <button mat-button [mat-dialog-close]="data.email" >Ok</button>
       </div>
     </div>
   </div>
 </div>-->
