#aceptar{
  display: flex;
  justify-content: center;
  align-items: center;
}
#cerrar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container{
  height: 100%;
  width: 100%;
}
#global{
  height: 100%;
}
#contenedor{
  display: flex;
  height: 88%;
}
#divide{
  height: inherit;
}
.email, .equipo, .contraseña{
  width: 50% !important;
}
