.sidenav {
  position: absolute;
  top: 6.8%;
  width:15%;
  height: 93.2%;
  border: solid 1px #003D33 !important;
  background-color: #75A478;
}
.mat-nav-list{
  display: flex;
  padding-top: 6%;
  flex-direction: column !important;
}

.mat-subheader{
  font-size: 20px;
  justify-content: center;
  color: #01332B;

}
.mat-list-item{
  color: #01332B;
}
.mat-divider{
  border-color: rgba(0, 61, 51, 1) !important;
}
