<app-navbar></app-navbar>
<div class="workshop__container">
  <mat-drawer-container class="sidenav" autosize>
    <mat-nav-list>
      <h3 matSubheader>Categorías</h3>
      <ul class="workshop__category-list">
        <li class="workshop__category-list-item" *ngFor="let cat of categorias">
          <a mat-list-item [routerLink]="['/talleres/' + cat]">{{cat}}</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-drawer-container>
  <div class="workshop__content">
    <div class="workshop__content-header">
      <h1 class="workshop__tittle">TALLERES</h1>
      <div  class="workshop__wrapper-button">
        <button mat-raised-button  class="workshop__button">Nuevo Taller</button>
      </div>
    </div>
    <ul class="workshop__wrapper">
      <li class="workshop__wrapper-item" *ngFor="let taller of talleres" (click)="goToTaller(taller.id)">
        <img class="workshop__item-img" src="{{ taller.img }}">
        <p class="workshop__item-title">{{ taller.nombreTaller }}</p>
        <mat-chip-list class="workshop__item-chip-list">
          <mat-chip class="workshop__item-chip">
            {{taller.categoria}}
          </mat-chip>
        </mat-chip-list>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
