.teams {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}
.teams__header {
  padding-top: 3rem;
  position: relative;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.teams__button {
  background-color: #5EDE92;
  max-width: 15rem;
  font-size: 1.5rem;
  height: 4rem;
  position: absolute;
  right: 2rem;
}
.teams__tittle {
  display: flex;
  font-size: 3rem;
  flex-grow: 1;
  justify-content: center;
}

.teams__container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 10;
  height: auto;
  list-style-type: none;
}

.teams__container-item {
  align-items: center;
  background-color: #75A478;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin-top: 3rem;
  padding: 1rem 0;
  width: 90vw;
}

.teams__container-team {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: 'Raleway';
  font-size: 2rem;
  justify-content: center;
}

.teams__container-logo {
  margin-right: 1rem;
  max-height: 3rem;
  max-width: 5rem;
}

.teams__container-name {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: 'Raleway';
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 0;
}

.teams__members-list {
  align-items: center;
  display: flex;
  flex: 5;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  width: 90vw;
}
.teams__members-list-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.teams__member-img {
  max-height: 10rem;
  max-width: 17rem;
}
.teams__member-name {
  margin-top: 1rem;
  font-family: 'Raleway';
  font-size: 1.5rem;
}
/*
.teams__tittle {
  display: flex;
  justify-content: center;
  top: 6rem;
  font-size: 3rem;
}
.teams__wrapper-button {
  display: flex;
  top: 2rem;
  justify-content: flex-end;
  height: 4rem;
  margin-right: 6rem;
}
.teams__button {
  width: 15rem;
  font-size: 1.5rem;
}


.teams__container {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  flex-direction: column;
}
.teams__container-item {
  width: 90vw;
  height: 40vh;
  background-color: #75A478;
  margin-top: 1rem;
}
*/
