
<ng-container *ngIf="loginService.isLogged">
  <mat-card class="card-global">
    <!--Añadir el ngSubmit -->
    <h1>Editar Perfil</h1>
    <form [formGroup]="form" class="card-global__form" >
      <mat-form-field class="nombre">
        <mat-label>Nombre</mat-label>
        <input matInput #nombre placeholder="Nombre"
               [formControl]="form.controls.nombre"  required>
      </mat-form-field>
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input matInput #email placeholder="Email"
               [formControl]="form.controls.email"  required>
      </mat-form-field>
    </form>
    <button mat-raised-button class="card-global__button">Guardar</button>
  </mat-card>
</ng-container>

