<ng-container *ngIf="loginService.isLogged">
  <mat-card class="card-global">
    <!--Añadir el ngSubmit -->
    <h1>Editar Perfil</h1>
    <form #eventForm="ngForm" class="card-global__form" >
      <mat-form-field class="nombre">
        <input
          matInput
          [(ngModel)]="loginService.user.nombre"
          placeholder="Nombre"
          #eventFormComponent
          #eventFormControl="ngModel"
          name="nombre"
          required
        />
      </mat-form-field>
      <!-- <mat-form-field class="email">
         <mat-label>Email</mat-label>
         <input matInput #email placeholder="Email"
                [formControl]="form.controls.email"  required>
       </mat-form-field>-->
    </form>

    <button mat-raised-button class="card-global__button" (click)="save()">Guardar</button>
  </mat-card>
</ng-container>

