<ng-container *ngIf="loginService.isLogged">
  <mat-card class="card-global">
    <!--Añadir el ngSubmit -->
    <h1>Editar Perfil</h1>
    <form #eventForm="ngForm" class="card-global__form" >
      <mat-form-field appearance="legacy">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="loginService.user.rol" required  name="rol">
          <mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="loginService.user.email"
          placeholder="Correo electrónico"
          name="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="loginService.user.img"
          placeholder="Imagen de perfil"
          name="img"
        />
      </mat-form-field>
    </form>

    <button mat-raised-button class="card-global__button" (click)="save()">Guardar</button>
  </mat-card>
</ng-container>

