
<div class="footer">
  <div class="contenedorNombre">
      <p class="nombre" >&copy;AGILE STUDIO</p>
  </div>

    <div class="contenedorRedes">
      <div class="contenedorRedes__grid">
        <img class="imageInsta" src="assets/insta.jpg">
        <p class="contenedorRedes__grid-text"> &copy;agile_studio</p>
      </div>
      <div class="contenedorRedes__grid">
        <img class="imageInsta" src="assets/twitter.jpg">
        <p class="contenedorRedes__grid-text"> &copy;agile_studio</p>
      </div>
    </div>
</div>
