#footer{
  position: absolute;
  background-color: #00695C;
  bottom: 0px;
  width: 100%;
  height: 8%;
  color: #D7FFD9;
}
#nombre{
  font-size: xx-large;
  padding-top: 30px;
  padding-left: 60%;
  /*font-family: Shadows Into Light;*/
  font-family: Poiret One;
}
#contenedorNombre{
  width: 75%;
}
#contenedorRedes{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25%;
  font-size: 20px;
}
